.teachr{
  
   background-color: rgba(0, 92, 128, 0.425);
   color: rgba(255, 255, 255, 0.61);
   margin-left: 10px;
   margin-bottom: 10px;
   box-shadow:0px 5px 5px 0px gray;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 5px;
   font-size: 15px;
}

.teachr:hover{
   background-color: rgba(0, 128, 6, 0.377);
   color: black;
   margin-left: 8px;
   margin-bottom: 8px;
   box-shadow:0px 5px 5px 0px gray;
}
.images{
   width:100%;
   padding: 10px;
   display: flex;
   justify-content: center; 
}
.images img{
   width: 50%;
   padding: 5px;
}
.teachers-detail{
   width: 100%;
   margin-left: 15px;  
}
.btn-reguler-div{
   display:flex;
   justify-content: center;
}
.btn-regular{
   align-items: center;
   background-color: rgba(199, 128, 47, 0.562);
   padding: 5px;
   margin-bottom: 5px;
   border: gray;
   border-radius: 10px;
   width: 100px;
   cursor: pointer;
}
.btn-regular:hover{
   background-color: rgb(4, 80, 35);
  color: white;
 
}